.user-card {
    @apply flex flex-col items-center;
    @apply transition-all duration-500 ease-in-out;
    @apply bg-zinc-800 rounded-lg border-4 border-zinc-600 px-20 py-10;
    @apply hover:border-yellow-500 hover:bg-zinc-900;
}

.user-card > * {
    @apply my-5;
}

.details {
    @apply flex flex-col items-center;
}

.details > * {
    @apply my-2;
    @apply text-2xl;
}
