.navbar {
    @apply flex flex-row justify-between;
    @apply sticky top-0 w-screen z-20 h-[15vh];
    @apply bg-zinc-700 border-b-2 border-zinc-900;
    @apply transition-all duration-700 ease-in-out;
    @apply hover:border-yellow-500;
}

.navbar > * {
    @apply flex my-auto;
}

.navbar > :first-child {
    @apply justify-start;
}

.navbar > :nth-child(2) {
    @apply justify-center;
}

.navbar > :last-child {
    @apply justify-end;
}

.navbar-transparent {
    @apply navbar fixed !important;
    @apply bg-transparent border-0 text-black;
}
