<section id="products">
    <app-loading-spinner *ngIf="isLoading" />

    <div class="products" *ngIf="!isLoading">
        <div class="page-heading">
            <h1 class="section-heading">Our Products:</h1>
            <app-nav-button link="/products" text="Shop Primal Formulas" iconName="arrow-right" />
        </div>

        <div class="products-grid">
            <div class="product-card hidden" *ngFor="let product of products" appIntersectionObserver>
                <h1>{{product.name}}</h1>
                <a [routerLink]="['/products', product.id]"><img src="{{product.image}}" alt="product-image"></a>

                <h1>€{{product.price}}</h1>
                <div class="buttons-grid">
                    <app-nav-button [link]="getProductLink(product.id)" text=" View Product" iconName="arrow-right" />
                    <app-nav-button link="/" text="Add To Cart" iconName="cart-plus" />
                </div>
            </div>
        </div>

        <ng-container *ngIf="user$ | async as user">
            <app-create-product-form text="Product Form" />
        </ng-container>
    </div>

</section>