<footer class="footer">
    <div class="footer-info">
        <ul className="address-list">
            <li className="address-item">Primal Formulas Ltd.</li>
            <li className="address-item">Clonross, Drumree</li>
            <li className="address-item">Co. Meath,</li>
            <li className="address-item">A85 PK30</li>
            <li className="address-item">Tel: 01 - 8259289</li>
            <li className="address-item">
                Email: info@primalformulas.ie
            </li>
        </ul>
    </div>
    <div class="footer-links">
        <app-nav-logo />
    </div>
    <div class="footer-nav">
        <app-nav-button />
    </div>
    <app-to-top-button />
</footer>